#table-container{
    margin: 40px;
    display: flex;
    justify-content: center;
}

table{
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
}

td, th{
    border: 1px solid black;
    padding: 8px;
    text-align: left;
    font-size: 20px;
    background-color: gold;
}

.header_cell{
    text-align: center;
    background-color: cornflowerblue;
}